/***********/
/* ACCOUNT */
/***********/
#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivSubHeaderAccountLogin{
    color: #fff;
    line-height: 40px;
    overflow: hidden;
    padding-left: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktAccountLoginContainer{
    padding: 15px 0 15px 15px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultAccountLoginErrorContainer{
    padding-right: 15px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktAccountLoginContainer .clsDivBktAccountLoginFormInputLoginType{
    width: 60%;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktAccountLoginContainer .clsDivBktAccountLoginFormInputLoginPassword{
    width: 40%;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktRecoverPasswordContainer .clsDivBktRecoverPasswordFormInputLoginPassword{
    width: 50%;
    float: right;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktRecoverPasswordContent{
    padding-left: 15px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktRecoverPasswordFieldsContainer{
    margin-top: 15px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktRecoverPasswordFieldsContainer #idDivBktRecoverPasswordFieldsContent{
    display: table;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktRecoverPasswordFieldsContainer .clsDivBktRecoverPasswordFormInputContainer{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding-right: 15px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktRecoverPasswordFieldsContainer #idSelBktRecoverPasswordField{
    width: 100%;
    box-sizing: border-box;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktRecoverPasswordFieldsContainer #idIptBktRecoverPassword{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}


/******************/
/* FIELDS COLUMNS */
/******************/
#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktDefaultAccountLoginRow,
#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktDefaultAccountLoginHalvedRow,
#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktAccountLoginFormInputDropAndTextContainer{
    display: table;
    width: 100%;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktDefaultAccountLoginHalvedRow .clsDivBktAccountLoginFormInput,
#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktDefaultAccountLoginRow .clsDivBktAccountLoginFormInput,
#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktDefaultRecoverPasswordRow .clsDivBktRecoverPasswordFormInput{
    padding-right: 15px;
    padding-top: 15px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktDefaultAccountLoginHalvedRow .clsDivBktAccountLoginFormInput{
    display: table-cell;
    vertical-align: top;
}

/*** Drop + text ***/
#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktDefaultAccountLoginHalvedRow .clsDivBktAccountLoginFormInputDropAndTextFieldSelect{
    display: table-cell;
    vertical-align: top;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktAccountLoginFormInputDropAndTextFieldSelect{
    width: 85px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktDefaultAccountLoginHalvedRow .clsDivBktAccountLoginFormInputDropAndTextFieldSelect select{
    cursor: pointer;
    color: #666;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktAccountLoginFormInputDropAndTextFieldSelect select{
    width: 85px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktAccountLoginFormInputDropAndTextFieldInput{
    display: table-cell;
    padding-left: 15px;
    vertical-align: top;
    width: 100%;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktAccountLoginFormInputDropAndTextContainer input[type="text"]{
    margin-bottom: 0px !important;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktAccountLoginContainer #idDivBktAccountLoginRecoveryPassword{
    color: #e7522d;
    cursor: pointer;
    font-size: 0.733em;
    padding-top: 15px;
    text-align: right;
    text-decoration: underline;
    float: right;
}

/**********/
/* FIELDS */
/**********/
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktRecoverPasswordContainer input[type="text"],
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktAccountLoginContainer input[type="text"],
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktAccountLoginContainer input[type="password"]{
    height: 25px;
    padding-left: 10px;
    width: 100%;
    box-sizing: border-box;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktRecoverPasswordContainer input,
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktAccountLoginContainer input{
    -webkit-appearance: none;
    -webkit-focus-ring-color: none;
    -webkit-border-radius:0px;
    border-radius: 0px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultAccountLoginSubFooterContainer,
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultRecoverPasswordSubFooterContainer{
    padding-right: 15px;
    margin-top: 15px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultAccountLoginConfirmButtonContainer,
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultRecoverPasswordConfirmButtonContainer{
    float: right;
}

/***********/
/* RECOVER */
/***********/
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktRecoverPasswordContainer #idDivBktRecoverPasswordExplain{
    background: none repeat scroll 0 0 #fff;
    margin-right: 15px;
    margin-top: 15px;
    padding: 15px;
    text-align: center;
    line-height: 1.467em;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultRecoverPasswordErrorContainer{
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 15px;
}

/*************************/
/* OK / ERROR - MESSAGES */
/*************************/
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktRecoverPasswordContainer .clsBktDefaultOkContainer{
    padding-left: 15px;
    padding-right: 15px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktRecoverPasswordContainer .clsBktDefaultOkText{
    background: none repeat scroll 0 0 #E9F6D4;
    color: #81C04D;
    margin-top: 15px;
    padding: 20px 30px;
    text-align: center;
    line-height: 1.467em;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktRecoverPasswordContainer .clsBktDefaultErrorContainer{
    padding-left: 15px;
    padding-right: 15px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktRecoverPasswordContainer .clsBktDefaultDataErrorText{
    background: none repeat scroll 0 0 #ee8369;
    color: #fff;
    margin-top: 15px;
    padding: 20px 30px;
    text-align: center;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktRecoverPasswordContainer{
    
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktRecoverPasswordContainer{
    
}





/**********/
/* @MEDIA */
/**********/
@media only screen and (max-width: 1365px){
    
}

@media only screen and (min-width: 320px) and (max-width: 570px){
    
}

@media only screen and (max-width: 425px){
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktDefaultAccountLoginHalvedRow .clsDivBktAccountLoginFormInput{
        display: block;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultAccountLoginConfirmButtonContainer {
        margin-top: 20px;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktAccountHistoryContentData {
        padding-right: 4px !important;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktAccountHistoryContentDataDate, #idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktAccountHistoryContentDataTime {
        text-align: center;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktAccountLoginContainer .clsDivBktAccountLoginFormInputLoginType,
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktAccountLoginContainer .clsDivBktAccountLoginFormInputLoginPassword,
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktRecoverPasswordContainer .clsDivBktRecoverPasswordFormInputLoginPassword{
        width: auto;
        float: none;
    }    
}

@media only screen and (max-width: 319px){
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktAccountHistoryContentData {
        padding-right: 4px !important;
    }
    
}