/***********/
/* AGENDAS */
/***********/
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktAgendasContainer a{
    text-decoration: none;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktAgendasContainer{
    padding: 15px 0 15px 15px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktAgendaContent{
    height: 88px;
    float: left;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktAgendaContentImage{
    width: 88px;
    height: 88px;
    float: left;
    background: #dfe3e6;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktAgendaContentImageCell{
    /*text-align: center;*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    width: 100%;
    height: 100%;    
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktAgendaImage{
    width: 100%;
    height: 100%;
    /*border-radius: 50%;*/
    /*background-size: contain;*/
    background-position: 50% 50%;
    /*display: inline-block;*/
	background-repeat: no-repeat;
	background-size: cover;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktAgendaDataNameContainer{
    margin-right: 15px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktAgendaContentName{
    height: 68px;
    background: #FFF;
    padding: 10px;
    overflow: hidden;
    color: #666;
    font-size: 0.867em;
    line-height: 0.867em;
    text-decoration: none;
    box-sizing: content-box;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktAgendaContentAuto{
    display: table;
    width: 100%;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktAgendaContentNameText{
    display: table-cell;
    height: 68px;
    vertical-align: middle;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktAgendaContentAuto .clsDivBktAgendaContentNameText{
    text-align: center;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktAgendaContent{
    width: 50%;
    margin-bottom: 15px;
    min-width: 255px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktAgendaContentData{
    margin: 0 auto;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultAgendasErrorContainer{
    padding-right: 15px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDefaultErrorAgendasNoAvailable{
    display: none;
}








/**********/
/* @MEDIA */
/**********/
@media only screen and (max-width: 1365px){

}

@media only screen and (min-width: 320px) and (max-width: 570px) and (orientation : landscape){
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktAgendaContent{
        width: 100%;
        float: none;
    }
}

@media only screen and (min-width: 320px) and (max-width: 570px){
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktAgendaContent{
        width: 100%;
        float: none;
    }
}

@media only screen and (max-width: 319px){
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktAgendaContent{
        width: 100%;
        float: none;
    }
}