/**************/
/* BKT BUTTON */
/**************/
#idBktWidgetBody #idBktButtonLink{
    font-weight: bold;
    background: none repeat scroll 0 0 #81c04d;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
}

#idBktWidgetBody #idBktButtonOverlay{
    background: none repeat scroll 0 0 #666666;
    height: 100%;
    left: 0;
    right: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 99998;
    display: none;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";

    /* IE 5-7 */
    filter: alpha(opacity=90);

    /* Netscape */
    -moz-opacity: 0.90;

    /* Safari 1.x */
    -khtml-opacity: 0.90;

    /* Good browsers */
    opacity: 0.90;
}

#idBktWidgetBody #idBktButtonModalWindowContainer{
    display: none;
    left: 50%;
    top: 5%;
    position: fixed;
    z-index:99999;
}

#idBktWidgetBody #idBktButtonModalWindow{
    left: -50%;
    position: relative;
}

#idBktWidgetBody #idBktButtonModalWindowHeader{
    /*padding-bottom: 10px;*/
    /*padding-top: 40px;*/
}

#idBktWidgetBody #idBktButtonModalWindowHeaderClose{
    background-image: url("../../../images/widgets/default/legalnotice/close.png");
    background-position: 100% 0;
    background-repeat: no-repeat;
    cursor: pointer;
    float: right;
    height: 17px;
    width: 17px;
}

/**********/
/* @MEDIA */
/**********/
@media only screen and (max-width: 1365px){

}

@media only screen and (min-width: 320px) and (max-width: 570px),
only screen and (max-width: 737px),
only screen and (min-width: 320px) and (max-width: 480px),
only screen and (max-width: 319px){
    #idBktWidgetBody #idBktButtonModalWindowContainer{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    
    #idBktWidgetBody #idBktButtonModalWindow{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    
    #idBktWidgetBody #idBktButtonModalWindowHeader {
        padding-bottom: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }
}