/***********/
/* Change Password */
/***********/
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktChangePasswordContainer{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktAccountSubHeaderChangePasswordEvents .clsDivBktSubHeaderExtraOptionIconText{
    background-image: url("../../../images/widgets/default/history/list_white.png");
    color: #FFF;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktAccountSubHeaderChangePassword .clsDivBktSubHeaderExtraOptionIconText{
    background-image: url("../../../images/widgets/default/history/lock_dark.png");    
    color: #717171;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktAccountSubHeaderChangePasswordEvents{
    background-color: #717171;
    color: #FFF;
    cursor: pointer;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktChangePasswordContainer {
    margin-top: 5px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktChangePasswordNew {
    margin-left: 10px;
    width: 46%;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktChangePasswordRepeatContainer {
    margin-right: 10px;
    width: 46%;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktChangePasswordSubmit {
    margin-right: 10px;
    margin-top: 10px;
}


#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktChangePasswordSaveMessageOk {
    background-color: #EAF5D3;
    height: 65px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktChangePasswordSaveMessageFail,
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktChangePasswordSaveMessageError {
    background-color: #EAF5D3;
    height: 65px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktChangePasswordSaveMessageOkText,
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktChangePasswordSaveMessageFailText,
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktChangePasswordSaveMessageErrorText{
    text-align: center;    
    text-transform: uppercase;
    line-height: 4em;
}



/**********/
/* @MEDIA */
/**********/
@media only screen and (max-width: 1365px){
    
}

@media only screen and (min-width: 320px) and (max-width: 570px){
    
}

@media only screen and (max-width: 425px){
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktChangePasswordNew,
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktChangePasswordRepeatContainer{
        width: 100%;
        margin: 0;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktChangePasswordRepeatContainer{
        margin-top: 20px;
    }
}

@media only screen and (max-width: 319px){
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktChangePasswordNew,
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktChangePasswordRepeatContainer{
        width: 100%;
        margin: 0;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktChangePasswordRepeatContainer{
        margin-top: 20px;
    }
    
}