/*****************/
/* BKT CONTAINER */
/*****************/
#idBktWidgetBody{ 
    width: 100%; 
    font-size: 15px; 
    line-height: 15px;
}

#idBktWidgetBody *, #idBktWidgetBody ::after, #idBktWidgetBody ::before {
    -webkit-box-sizing: unset;
    -moz-box-sizing: unset;
    box-sizing: unset;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer{ 
    width: 546px;
    margin: 0 auto;
    position: relative;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsTextOrange{
    color: #E7522D;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsTextGreen{
    color: #81C04D;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsTextBold{
    font-weight: bold !important;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsTextRight{
    text-align: right !important;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsTextCenter{
    text-align: center !important;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsCB{
    clear: both;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsHP{
    float: left;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsHPR{
    float: right;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktButtonContinueContainer{
    margin-top: 30px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivConfirmButton input[type="submit"],
#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBackButton,
#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivContinueButton{
    background: #81C04D;
    color: #FFF;
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivCancelButton{
    background: #B7C3D2;
    color: #FFF;
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBackErrorButton{
    margin-top: 15px;
}

#idBktWidgetBody #idDivBktCCCStrBody {
    margin-top: 15px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsOrangeText{
    color: #e7522d;
}


/**********/
/* HEADER */
/**********/
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktWidgetDefaultHeader{
    background-color: #494949;
    color: #FFFFFF;
    height: 40px;
    width: 100%;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktWidgetDefaultHeader #idBktWidgetDefaultHeaderCenterName{
    float: left;
    height: 40px;
    line-height: 40px;
    width: 100%;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktWidgetDefaultHeader #idBktWidgetDefaultHeaderCenterName #idBktWidgetDefaultHeaderCenterNameText{
    padding-left: 15px;
    padding-right: 15px;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
    color: #FFF;
    text-align: center;
    line-height: 40px;
}


/*********************/
/* LANGUAGE SELECTOR */
/*********************/
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktWidgetDefaultHeader #idBktWidgetDefaultHeaderLanguageSelector{
    float: right;
    margin-top: 12px;
    height: 28px;
    line-height: 28px;
    text-align: right;
    width: 0%;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktWidgetDefaultHeader #idBktWidgetDefaultHeaderLanguageSelector #idBktWidgetDefaultHeaderLanguageSelectorText{
    height: 40px;
    overflow: hidden;
    line-height: 40px;
    margin-right: 15px;
    float: right;
    width: 26px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktWidgetDefaultHeader #idBktWidgetDefaultHeaderLanguageSelector #idBktWidgetDefaultHeaderLanguageSelectorText select{
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    color: #FFFFFF;
    background-color: #494949;
    width: 42px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktWidgetDefaultHeader #idBktWidgetDefaultHeaderLanguageSelector #idBktWidgetDefaultHeaderLanguageSelectorText select option{
    background-color: #FFFFFF;
    color: #666666;
    padding: 0;
    font-size: 0.813em;
    line-height: 0.813em;
    padding: 5px;
}


/***********/
/* CONTENT */
/***********/
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktWidgetDefaultContainer{
    background-color: #F3F5F7;
    min-height: 405px;
    width: 100%;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktWidgetDefaultContent{
    position: relative;
}


/**********/
/* FOOTER */
/**********/
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktWidgetDefaultFooter{
    height: 17px;
    width: 100%;
    background-color: #F3F5F7;
    padding-bottom: 11px;
    padding-top: 15px;
    box-sizing: content-box;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktWidgetDefaultFooter #idBktWidgetDefaultFooterLogo{
    background-image: url("../../images/widgets/default/footer/powered.png");
    background-repeat: no-repeat;
    float: left;
    height: 17px;
    width: 50%;
    background-position: 15px 0;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktWidgetDefaultFooter #idBktWidgetDefaultFooterAccount{
    color: #E7522D;
    float: right;
    font-size: 0.75em;
    height: 17px;
    line-height: 17px;
    text-align: right;
    width: 50%;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktWidgetDefaultFooter #idBktWidgetDefaultFooterAccount .clsBktWidgetDefaultFooterAccountText{
    padding-right: 15px;
    padding-bottom: 15px;
    color: #e7522d;
    text-align: right;
    display: inline-block;
    cursor: pointer;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktWidgetDefaultFooter #idBktWidgetDefaultFooterAccount #idBktWidgetDefaultFooterAccountSignInAccountContainer,
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktWidgetDefaultFooter #idBktWidgetDefaultFooterAccount #idBktWidgetDefaultFooterAccountSignOutAccountContainer{
    text-align: right;
}


/**************/
/* LOAD ERROR */
/**************/
#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsBktDefaultErrorContainer{
    text-align: center;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsBktDefaultErrorText{
    background: #EE8369;
    color: #FFF;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsBktDefaultOkText{
    background: #81C04D;
    color: #FFF;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
}


/**************/
/* SUB-HEADER */
/**************/
#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivSubHeader{
    background-color: #5B5B5B;
    height: 40px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivSubHeaderBackButton{
    background-color: #767676;
    height: 40px;
    float: left;
    width: 40px;
    background-image: url("../../images/widgets/default/agendas/back_bis.png");
    background-repeat: no-repeat;
    background-position: 50% center;
    cursor: pointer;
    max-width: 10%;
    width: 40px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivSubHeaderBreadcrumbs{
    height: 40px;
    float: left;
    font-size: 0.800em;
    color: #FFF;
    line-height: 40px;
    width: 90%;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivSubHeaderBreadcrumbsText{
    overflow: hidden;
    padding-left: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #FFF;
    line-height: 40px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBreadcrumbTime{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
    font-weight: inherit;
    line-height: inherit;
}

/*******************/
/* SUB-HEADER EXTRA*/
/*******************/
#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktSubHeaderExtraOption{
    height: 40px;
    width: 50%;
    float: left;
    line-height: 40px;
    text-align: center;
    font-size: 1.067em;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktSubHeaderExtraOption .clsDivBktSubHeaderExtraOptionIconText{
    background-repeat: no-repeat;
    display: inline-block;
    padding-left: 40px;
    background-position: 0 50%;
    line-height: 40px;
    font-size: 0.867em;
}


/**********/
/* SELECT */
/**********/
#idBktWidgetBody #idBktWidgetDefaultBodyContainer select:-moz-focusring{
    color: transparent !important;
    text-shadow: 0 0 0 #000;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer option{
    color: #666;
    text-shadow: none;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktWidgetTimezoneSelectorContainer{
    margin-top: 10px;
    margin-bottom: 10px;    
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktWidgetTimezoneInfoContainer{
    display: table;
    font-size: 0.867em;
    width: 100%;
    box-sizing: border-box;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktWidgetTimezoneMerchantTimezone,
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktWidgetTimezoneSelectContainer{
    display: table-cell;
    vertical-align: middle;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktWidgetTimezoneSelectContainer{
    text-align: right
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktWidgetTimezoneSelectorContainer select{
    font-family: inherit;
    font-size: 1em;
    box-sizing: border-box;
    color: #748489;
    margin: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: #ecedef;
    border-radius: 5px;
    width: 100% !important;
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
    background-image: url(../../images/theme/bkt/input/selectArrow.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 12px;
    cursor: pointer;
    padding-right: 30px;    
}


/****************/
/* LEGAL NOTICE */
/****************/
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultLegalNoticeContainer,
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultCancelAppointmentContainer{
    position: absolute;
    z-index: 99999;
    top: 50px;
    left: 50%;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultLegalNoticeContent{
    background-color: #fff;
    padding: 15px;
    max-width: 486px;
    min-width: 486px;
    left: -50%;
    position: relative;
    height: 350px;
    overflow: auto;    
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultLegalNoticeHeaderTitle,
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultCancelAppointmentHeaderTitle{
    color: #e7522d;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultLegalNoticeBody,
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultCancelAppointmentBody{
    font-size: 0.867em;
    line-height: 1.333em;
    text-align: justify;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultLegalNoticeHeaderCloseContainer,
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultCancelAppointmentHeaderCloseContainer{
    width: 100%;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultLegalNoticeHeaderClose,
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultCancelAppointmentHeaderClose{
    height: 17px;
    width: 17px;
    background-image: url("../../images/widgets/default/legalnotice/close.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    float: right;
    cursor: pointer;
}

.clsBktDefaultPopupOverlay{
    background: none repeat scroll 0 0 #666666;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99998;
    display: none;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";

    /* IE 5-7 */
    filter: alpha(opacity=40);

    /* Netscape */
    -moz-opacity: 0.4;

    /* Safari 1.x */
    -khtml-opacity: 0.4;

    /* Good browsers */
    opacity: 0.4;    
}



/***********/
/* LOADING */
/***********/
#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktWidgetDefaultLoadingContainer{
    background: none repeat scroll 0 0 #f3f5f7;
    position: absolute;
    z-index: 99999;
    height: 100%;
    width: 100%;
    
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";

    /* IE 5-7 */
    filter: alpha(opacity=75);

    /* Netscape */
    -moz-opacity: 0.75;

    /* Safari 1.x */
    -khtml-opacity: 0.75;

    /* Good browsers */
    opacity: 0.75;   
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktWidgetDefaultLoading{
    background-image: url("../../images/widgets/default/loading/loading.gif");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}


/**********/
/* @MEDIA */
/**********/
@media only screen and (max-width: 1365px){
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer{ 
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    
    #idBktWidgetBody{ 
        font-size: 15px;
    }
}


@media only screen and (min-width: 320px) and (max-width: 570px){
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultLegalNoticeContent {
        left: 0;
        right: 0;
        min-width: 0;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultLegalNoticeContainer{
        left: 0;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px){
    #idBktWidgetBody{ 
        font-size: 13px;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultLegalNoticeContent {
        left: 0;
        right: 0;
        min-width: 0;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultLegalNoticeContainer{
        left: 0;
    }
}

@media only screen and (max-width: 319px){
    #idBktWidgetBody{ 
        font-size: 10px;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultLegalNoticeContent {
        left: 0;
        right: 0;
        min-width: 0;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultLegalNoticeContainer{
        left: 0;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivBktSubHeaderExtraOption .clsDivBktSubHeaderExtraOptionIconText {
        padding-left: 35px;
    }
}