/***********************/
/* CREDIT CARD CAPTURE */
/***********************/
#idBktWidgetBody #idDivBktCCCStrInfo {
    width: 100%;
    height: 140px;
} 

#idBktWidgetBody #idDivBktCCCStrInfoDetail {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 95%;
    background-color: white;
    height: 115px;
}

#idBktWidgetBody #idDivBktPaymentsGatewaysBackContainer{
    display: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    color: #E7522D;
}

#idBktWidgetBody #idDivBktPaymentGatewayStripeContainer,
#idBktWidgetBody #idDivBktPaymentsGatewaysContainer{
    display: none;
}

#idBktWidgetBody #idDivBktPaymentsGatewaysContainer{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 95%;
}

#idBktWidgetBody #idDivBktPaymentsGatewaysStripe,
#idBktWidgetBody #idDivBktPaymentsGatewaysPaypal,
#idBktWidgetBody #idDivBktPaymentsGatewaysRedsys,
#idBktWidgetBody #idDivBktPaymentsGatewaysNiubiz{
    margin-top: 10px;
    background-color: #FFF;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    color: #666;
}

#idBktWidgetBody #idDivBktPaymentsGatewaysStripe:hover,
#idBktWidgetBody #idDivBktPaymentsGatewaysPaypal:hover,
#idBktWidgetBody #idDivBktPaymentsGatewaysRedsys:hover,
#idBktWidgetBody #idDivBktPaymentsGatewaysNiubiz:hover{
    background-image: url("../../../images/widgets/default/creditcard/ok_reservas.svg");
    background-repeat: no-repeat;    
    background-position: 98% 50%;
    background-size: 30px;
}

#idBktWidgetBody .clsDivBktPaymentText{
    font-weight: bold;
    display: inline-block;
    margin-right: 5px;
}

#idBktWidgetBody .clsDivBktPaymentIconPaypal{
    background-image: url("../../../images/widgets/default/creditcard/paypal_reservas_online.svg");
    background-repeat: no-repeat;
    width: 100px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}

#idBktWidgetBody .clsDivBktPaymentIconCard{
    background-image: url("../../../images/widgets/default/creditcard/card_reservas.svg");
    background-repeat: no-repeat;
    width: 50px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}

#idBktWidgetBody .clsDivBktCCCStrInfoTable {
  display: table;
}

#idBktWidgetBody .clsDivBktCCCStrInfoTableRow  {
  display: table-row;  
}

#idBktWidgetBody .clsDivBktCCCStrInfoTableCell {
  display: table-cell;
}

#idBktWidgetBody .clsDivBktCCCStrInfoTableCellEmpty {
    width: 20px;
}

#idBktWidgetBody #idDivBktCCCStrBody {
    /*width: 100%;*/
}

#idBktWidgetBody #idDivBktCCCStrInfoTableDetail {
    margin-top:15px;
    margin-bottom:10px;
}

#idBktWidgetBody #idDivBktCCCStrInfoTableTotal {
    margin-top:15px;
    margin-bottom:15px;
}

#idBktWidgetBody #idDivBktCCCStrInfoLine {
    width: 100%;
    border-bottom: 1px solid #F3F5F7;
    margin-top: 10px;
}

#idBktWidgetBody #idDivBktCCCStr,
#idBktWidgetBody #idDivBktPaypalButtonContainer,
#idBktWidgetBody #idDivBktNiubizCCCContainer{
    margin-left: auto;
    margin-right: auto;    
    width: 95%;   
}

#idBktWidgetBody #idDivBktCCCStrCapture {    
    /*width:100%;*/
}

#idBktWidgetBody #idBktDefaultCCCStrSubmitContainer,
#idBktWidgetBody #idBktNiubizSubmitContainer{
    margin-top:54px;
}

#idBktWidgetBody #idDivBktCCCStrWhatsThis {
    margin-top: 5px;
    font-size:0.800em;
    cursor: pointer;
    text-align: right;
}

#idBktWidgetBody #idDivBktCCCStrServiceProvided {
    margin-top: 5px;
    font-size:0.800em;
    cursor: pointer;
}

#idBktWidgetBody #idDivBktCCCStrServiceProvided span a {
    color: #E7522D;
}

#idBktWidgetBody #idDivBktCCCStrCardInfo,
#idBktWidgetBody #idDivBktCCCStrError
{
    width: 391px;
    height: 75px;
    background-color: #C1C3C6;
    z-index: 2;
    top: 311px;
    right: 140px;
    position: absolute
}

#idBktWidgetBody #idDivBktCCCStrError {
    z-index: 1;
    color: #FFF !important;
    background-color: #ee8369;    
}

#idBktWidgetBody #idDivBktCCCStrCardInfoContent,
#idBktWidgetBody #idDivBktCCCStrErrorContent
{
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 15px;
    width: 380px;
    font-size: 0.800em;
}

#idBktWidgetBody #idDivBktCCCStrErrorContent {
    margin-left: 30px;
}

#idBktWidgetBody #idDivBktCCCStrCardInfoText,
#idBktWidgetBody #idDivBktCCCStrErrorText{
    width: 275px;
    margin-left: 10px;
    color: white;
}

#idBktWidgetBody #idDivBktCCCStrErrorText {    
    text-align: center;
    font-size: 1.1em;
}

#idBktWidgetBody #idDivBktCCCStrCardClose,
#idBktWidgetBody #idDivBktCCCStrErrorClose{
    cursor:pointer;
    margin-top:5px;
    margin-right:5px; 
}

#idBktWidgetBody #idDivBktBanksErrorContainer{
    width: 95%;
    margin: 0 auto;
}

#idBktWidgetBody #idDivBktBanksErrorContent{
    background: #ee8369 none repeat scroll 0 0;
    color: #fff;
    padding: 30px;
    text-align: center;
    text-transform: uppercase; 
}

#idBktWidgetBody #idDivBktPaymentGatewayPaypalContainer .paypal-button{
    text-align: center;
}

#idBktWidgetBody #idDivBktPaymentGatewayPaypalContainer #idDivBktPaypalErrorContainer,
#idBktWidgetBody #idDivBktPaymentGatewayRedsysContainer #idDivBktRedsysErrorContainer
#idBktWidgetBody #idDivBktPaymentGatewayNiubizContainer #idDivBktNiubizErrorContainer{
    display: none;
    width: 95%;
    margin: 0 auto;
}

#idBktWidgetBody #idDivBktPaymentGatewayPaypalContainer #idDivBktPaypalErrorContent,
#idBktWidgetBody #idDivBktPaymentGatewayRedsysContainer #idDivBktRedsysErrorContent,
#idBktWidgetBody #idDivBktPaymentGatewayNiubizContainer #idDivBktNiubizErrorContent{
    background: #ee8369 none repeat scroll 0 0;
    color: #fff;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktRedsysContainer{
    padding: 15px;
}

#idBktWidgetBody #idStripeCreditCardContainer,
#idBktWidgetBody #idStripeExpiryContainer,
#idBktWidgetBody #idStripeCvcContainer{
    background-color: #FFF;
}

#idBktWidgetBody #idDivBktCCCStrBody,
#idBktWidgetBody #idDivBktNiubizCCCBody{
    display: table;
    width: 100%;
    table-layout: fixed;
}

#idBktWidgetBody #idDivBktCCCStrBody .clsDivBktTable,
#idBktWidgetBody #idDivBktNiubizCCCBody .clsDivBktTable{
    display: table;
    width: 100%;
}

#idBktWidgetBody #idDivBktCCCStrBody .clsDivBktRow,
#idBktWidgetBody #idDivBktNiubizCCCBody .clsDivBktRow{
    display: table-row;
}

#idBktWidgetBody #idDivBktCCCStrBody .clsDivBktRowData,
#idBktWidgetBody #idDivBktNiubizCCCBody .clsDivBktRowData{
    display: table-cell;
    vertical-align: middle;
    height: 25px;
}

#idBktWidgetBody #idDivBktNiubizCCCBody {
    margin-top: 15px;
}


/**********/
/* @MEDIA */
/**********/
@media only screen and (max-width: 1365px){

}

@media only screen and (min-width: 320px) and (max-width: 570px),
only screen and (min-width: 320px) and (max-width: 480px),
only screen and (max-width: 319px){
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktInfoBodyTopLeft{
        float: none;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktInfoBodyRight{
        float: none;
        margin-top: 5px;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktInfoFooterLeft, 
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktInfoFooterRight {
        display: block;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktInfoFooterRight {
        margin-top: 15px;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktInfoBackButton {
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktInfoAppointmentsContainer {
        display: table-footer-group;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktInfoPrinterContainer {
        display: table-header-group;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktInfoPrinter {
        background-position: 50% 100%;
        background-repeat: no-repeat;
        cursor: pointer;
        float: right;
        padding: 20px 20px 0;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktInfoAppointmentsContent,
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktInfoAppointmentsInfoBottom,
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktInfoAppointmentsInfoMiddle{
        padding: 0 20px 15px;
    }
    
    #idBktWidgetBody #idDivBktCCCStrCardInfo,
    #idBktWidgetBody #idDivBktCCCStrError
    {
        width: 230px;        
    }

    #idBktWidgetBody #idDivBktCCCStrCardInfoContent,
    #idBktWidgetBody #idDivBktCCCStrErrorContent
    {        
        width: 230px;        
    }

    #idBktWidgetBody #idDivBktCCCStrCardInfoText,
    #idBktWidgetBody #idDivBktCCCStrErrorText
    {
        width: 130px;       
    }
    
    #idBktWidgetBody #idDivBktCCCStrCardInfo, #idBktWidgetBody #idDivBktCCCStrError {
        right: 30px;
    }

}