/*****************/
/* SELECT PEOPLE */
/*****************/
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktNumberOfPeopleContainerDatetime{
    margin-bottom: 10px;
    display: table;
    margin-top: 10px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktNumberOfPeopleContainerTextDatetime{
    display: table-cell;
    vertical-align: middle;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktNumberOfPeopleContainerSelectDatetime{
    max-width: 70px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktNumberOfPeopleContainerSelectDatetime select{
    max-width: 70px;
}


/************/
/* DATETIME */
/************/
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeContainer{
    padding-right: 15px;
    padding-left: 15px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivSlotColumnContainer,
#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivSlotColumnContainerLast{
    display: table-cell;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivDatetimeSlot{
    padding: 5px 10px;
    margin-bottom: 5px;
    background: #81C04D;
    cursor: pointer;
    margin-right: 5px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivDatetimeSlotTime{
    color: #FFF;
    font-weight: bold;    
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivDatetimeSlotWaitingList{
    background: #C7CED2;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivDatetimeWaitListText{
    color: #e7522d;
    font-size: 0.667em;
    text-align: center;
    margin-top: 5px;    
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivDatetimeSlotPrice{
    text-align: center;
    color: #476d20;
    margin-top: 5px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivDatetimeSlotFree{
    color: #FFF;
    font-size: 0.667em;
    text-align: center;
    margin-top: 5px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivSlotColumnContainerLast .clsDivDatetimeSlot{
    margin-right: 0px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idTimeListTable .clsDivSlotColumnContainer a,
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idTimeListTable .clsDivSlotColumnContainerLast a{
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatepickerContainer{
    line-height: 40px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeSelectedDateContainer{
    float: left;   
    min-width: 55%;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeSelectedDateContent{
    float: right;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatepickerChooseContainer{
    float: left;
    min-width: 45%;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePickerContent{
    display: inline-block;
    cursor: pointer;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePickerText{
    float: left;
    line-height: 40px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePickerIcon{
    float: left;
    background-image: url("../../../images/widgets/default/datetime/cal.png");
    background-position: 10% 50%;
    background-repeat: no-repeat;
    height: 40px;
    margin-left: 10px;
    width: 50px;
    cursor: pointer;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePickerIcon.clsBktDatePickerNotVisible{
    background-image: url("../../../images/widgets/default/datetime/cal.png");
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePickerIcon.clsBktDatePickerVisible{
    background-image: url("../../../images/widgets/default/datetime/cal_dos.png");
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeSelectedDateContainer #idDivBktDatetimeSelectedDateLeft{
    float: right;
    background-image: url("../../../images/widgets/default/datetime/izq.png");
    background-position: 0% 50%;
    background-repeat: no-repeat;
    width: 20px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    width: 50%;
    left: 0;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeSelectedDateContainer #idDivBktDatetimeSelectedDate{
    float: right;
    line-height: 40px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeSelectedDateContainer #idDivBktDatetimeSelectedDateRight{
    float: right;
    background-image: url("../../../images/widgets/default/datetime/der.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    width: 20px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    width: 50%;
    right: 0;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idTimeListTable{
    display: table;
    width: 100%;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivNotAvailableSlotsContainer{
    margin-top: 50px;
    text-align: center;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivNotAvailableSlotsTextTop{
    font-size: 1.667em;
    line-height: 1.667em;
    text-align: center;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivNotAvailableSlotsTextBottom{
    color: #e7522d;
    font-size: 1.200em;
    line-height: 1.200em;
    margin-top: 10px;
    text-align: center;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktSlotsContainer{
    padding-top: 20px;
}


/**************/
/* DATEPICKER */
/**************/
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker{
    background: #FFF;
    position: absolute;
    padding: 10px;
    display: none;
    z-index: 99999;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker .ui-datepicker-month{
    text-transform: uppercase;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker a{
    text-decoration: none;  
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker table{
    width: 100%;
    margin-top: 10px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker .ui-datepicker {
    min-width: 200px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker .ui-datepicker-prev{  
    float: left;  
}  

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker .ui-datepicker-next{  
    float: right;  
}  

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker .ui-datepicker-title {  
    text-align: center;  
    line-height: 20px !important;
}  

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker .ui-datepicker-prev, 
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker .ui-datepicker-next{
    background-repeat: no-repeat;
    width: 10px;
    height: 20px;
    display: inline-block;  
    text-indent: 600%;
    line-height: 600% !important; 
    overflow: hidden;  
    cursor: pointer;  
    text-align: center; 
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker .ui-datepicker-prev{
    background-image: url("../../../images/widgets/default/datetime/left.png");
    padding-right: 15px !important;
    background-position: 0% 50%;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker .ui-datepicker-next{
    background-image: url("../../../images/widgets/default/datetime/right.png");
    padding-left: 15px !important;
    background-position: 100% 50%;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker .ui-icon-circle-triangle-w, 
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker .ui-icon-circle-triangle-e{
    display: none;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker #idDivBktDatetimeDatePicker{
    line-height: normal;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker .ui-datepicker-title span{
    font-size: 0.867em !important;
    line-height: 0.867em !important;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker .ui-datepicker-calendar th,
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker .ui-datepicker-calendar td{
    text-align: center;
    line-height: 30px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker .ui-datepicker-calendar td span,
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker .ui-datepicker-calendar td a,
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker .ui-datepicker-calendar th{
    color: #666;
    font-size: 0.867em;
    line-height: 2.000em;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker .ui-datepicker-calendar td span,
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker .ui-datepicker-calendar td a{
    padding: 3px 7px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker .ui-datepicker-calendar a.ui-state-active{
    background: #494949;
    color: #FFF !important;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker .ui-datepicker-calendar .clsAvailableSlotsDate a{
    color: #81C04D;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker .ui-datepicker-calendar .clsFullSlotsDate a{
    color: #E7522D;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker .ui-datepicker-calendar .clsSlotMaxDate span{
    color: #66C8CF;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker .ui-datepicker-calendar .ui-datepicker-today a{
    border: 1px solid #BFBFBF;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivWaitingListContainer{
    margin-top: 10px;    
    text-align: center;
    display: none;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivWaitingListTextTop{
    
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivWaitingListOptions{
    text-align: center;
    margin: 0px auto;
    display: table;
    margin-top: 25px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idSpanWaitingListOtherTime{
    color: #e7522d;
    text-decoration: underline;
    cursor: pointer;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivWaitingListBack{
    text-align: right;
    margin-top: 15px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivWaitingListTextTopOrange{
    color: #e7522d;
    text-align: center;
    font-size: 1.600em;
    line-height: 1.600em;
    /*font-weight: bold;*/    
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivWaitingListTextTop{
    text-align: center;
    font-size: 1.063em;
    line-height: 1.063em;
    font-weight: bold;
    /*color: #e7522d;*/
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivWaitingListSubmit{
    margin-top: 25px;
    text-align: center;
    display: block;
}




/**************/
/* ERROR DATA */
/**************/
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultDatetimeDataErrorContainer{
    background: none repeat scroll 0 0 #ee8369;
    color: #fff;
    padding: 15px;    
    margin-bottom: 20px;
}



/**********/
/* @MEDIA */
/**********/
@media only screen and (max-width: 1365px){

}

@media only screen and (min-width: 320px) and (max-width: 570px){
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivDatetimeSlot{
        padding: 5px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px){
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker{
        left: 0;
        right: 0;
    }
}

@media only screen and (max-width: 319px){
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsDivDatetimeSlot{
        padding: 5px;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeSelectedDateContainer #idDivBktDatetimeSelectedDateLeft{
        height: 20px;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeSelectedDateContainer #idDivBktDatetimeSelectedDateRight{
        height: 20px;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeSelectedDateContainer #idDivBktDatetimeSelectedDate {
        line-height: 20px;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatepickerContainer {
        padding-bottom: 15px;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktSlotsContainer {
        padding-top: 0px;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker{
        left: 0;
        right: 0;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker .ui-datepicker-calendar td span, 
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker .ui-datepicker-calendar td a, 
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDatetimeDatePicker .ui-datepicker-calendar th {
        font-size: 1.067em;
        line-height: 2.000em;
    }
}