/*****************/
/* SELECT PEOPLE */
/*****************/
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktNumberOfPeopleContainer{
    margin-bottom: 20px;
    display: table;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktNumberOfPeopleContainerText{
    display: table-cell;
    vertical-align: middle;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktNumberOfPeopleContainerSelect{
    max-width: 70px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktNumberOfPeopleContainerSelect select{
    max-width: 70px;
}


/************/
/* SERVICES */
/************/
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultServicesContainer{
    padding: 15px 15px 0;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer .clsBktServiceDataContainer{
    margin-top: 5px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktDefaultServicesMainContent{
    min-height: 320px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktServicesContainer #idListServices .clsBktServiceName a{
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
    line-height: 16px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktServicesContainer #idListServices .clsBktServiceGroupName{
    font-size: 1.067em;
    line-height: 1.067em;
    font-weight: bold;
    /*margin-bottom: 5px;*/
    margin-top: 20px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktServicesContainer #idListServices .clsBktServiceCheckbox{
    margin-right: 10px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktServicesContainer #idListServices .clsBktServicePublicPrice{
    margin-left: 5px;
    line-height: 16px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktServicesContainer #idListServices .clsBktServiceName{
    line-height: 16px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktServicesContainer #idListServices input[type=checkbox]{
    display: none;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktServicesContainer #idListServices input[type=checkbox] + label{
    background: #fff;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../../../images/widgets/default/services/check_02.png") 0px 0px no-repeat;
    text-indent: -1000em;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktServicesContainer #idListServices input[type=checkbox]:checked + label{
    background: url("../../../images/widgets/default/services/check_02.png") 0px -16px no-repeat;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktServicesContainer #idListServices .clsBktServiceHasDescription{
    border-bottom: 1px solid #FFF;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 0;
    padding-left: 10px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktServicesContainer #idListServices .clsBktServiceHasDescription:hover{
    background-color: #FFF;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktServicesContainer #idListServices .clsBktServiceDescription{
    font-size: 0.800em;
    margin-top: 10px;
    padding-left: 15px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktServicesContainer #idListServices .clsBktServiceVideoCall{
    background-image: url("../../../images/widgets/default/services/video_list_services.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    background-position: 0% 50%;
    margin-right: 5px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktServicesContainer #idListServices .clsBktAccordionServiceGroup{
    cursor: pointer;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktServicesContainer #idListServices .clsBktAccordionServiceGroup .clsBktAccordionServiceGroupIcon{
    background-image: url("../../../images/widgets/default/services/flecha.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-position: 0% 50%;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktServicesContainer #idListServices .clsBktAccordionServiceGroupActive .clsBktAccordionServiceGroupIcon{
    transform: rotate(-180deg);
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktServicesContainer #idListServices .clsBktMultiserviceServiceHide{
    display: none;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultExtraServicesContainer #idBktExtraServicesSummaryContainer{
    border-top: 1px solid #e2eaec;
    border-bottom: 1px solid #e2eaec;
    display: table;
    width: 100%;
    box-sizing: border-box;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultExtraServicesContainer #idBktExtraServicesBackButtonContainer{
    border-right: 1px solid #e2eaec;
    display: table-cell;
    vertical-align: middle;
    width: 1px;    
    padding: 15px 5px;
    cursor: pointer;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultExtraServicesContainer #idBktExtraServicesBackButtonIcon{
    height: 22px;
    width: 30px;
    background-repeat: no-repeat;
    background-position: 50% center;
    background-image: url("../../../images/widgets/default/agendas/atras.svg");
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultExtraServicesContainer #idBktExtraServicesSummaryTitle{
    text-transform: uppercase;
    font-weight: bold;
    color: #7e868a;
    font-size: 0.933em
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultExtraServicesContainer #idBktExtraServicesSummary{
    display: table-cell;
    vertical-align: middle;    
    padding: 15px 25px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultExtraServicesContainer #idBktExtraServicesSummary #idBktExtraServicesSummaryInfo,
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultExtraServicesContainer #idBktExtraServiceSelectedExtrasContainer{
    margin-top: 15px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultExtraServicesContainer .clsBktSummaryTextGrey{
    font-size: 0.800em;
    color: #7e868a;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultExtraServicesContainer .clsBktSummaryTextBlue{
    font-size: 0.800em;
    color: #64adb7;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultExtraServicesContainer .clsBktSummaryTextBold{
    font-weight: bold;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultExtraServicesContainer #idBktExtraServicesTotalContainer{
    border-left: 1px solid #e2eaec;
    display: table-cell;
    vertical-align: bottom;    
    padding: 15px 25px;
    white-space: nowrap;
    width: 1px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultExtraServicesContainer #idBktExtraServiceSelectedTotalText{
    color: #7e868a;
    font-weight: bold;
    font-size: 1.333em;
    text-transform: uppercase;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultExtraServicesContainer #idBktExtraServiceSelectedTotal{
    color: #64adb7;
    font-size: 1.333em;
    text-transform: uppercase;    
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultExtraServicesContainer #idBktExtraServicesListContainer{
    padding: 25px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultExtraServicesContainer #idBktExtraServicesListTitle{
    color: #64adb7;
    text-transform: uppercase;
    font-size: 1.000em;
    font-weight: bold;
}
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultExtraServicesContainer #idListExtraServices{
    margin-top: 15px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultExtraServicesContainer .clsBktExtraServiceContainer{
    border: 1px solid #e2eaec;
    border-radius: 5px;
    margin-bottom: 10px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultExtraServicesContainer .clsBktExtraServiceContainer:hover{
    background-color: #f1f3f5;
    cursor: pointer;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultExtraServicesContainer .clsBktExtraServiceContent{
    display: table;    
    width: 100%;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultExtraServicesContainer .clsBktExtraServiceCheckboxContainer{
    display: table-cell;
    vertical-align: middle;
    width: 1px;
    padding-left: 10px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultExtraServicesContainer .clsBktExtraServiceInfoContainer{
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultExtraServicesContainer .clsBktExtraServiceName{
    font-weight: bold;
    color: #7e868a;
    font-size: 0.933em
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultExtraServicesContainer .clsBktExtraServicePrice{
    color: #64adb7;
    font-size: 0.933em;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultExtraServicesContainer input[type="checkbox"] + label{
    background: #fff;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../../../images/widgets/default/agendas/check_02.png") 0px 0px no-repeat;
    text-indent: -1000em;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultExtraServicesContainer input[type=checkbox]:checked + label{
    background: url("../../../images/widgets/default/agendas/check_02.png") 0px -16px no-repeat;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultExtraServicesContainer .clsBktExtraServiceDescription{
    color: #9AAAAF;
    font-size: 0.800em;
    padding: 0px 10px 10px 10px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idBktDefaultExtraServicesContainer #idBktExtraServicesContinueButtonContainer{
    text-align: right;
    padding: 0px 25px;
}

#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktServicesContainer #idListServices .clsBktServiceHasDescription.clsBktServiceDisabled,
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktServicesContainer #idListServices .clsBktServiceHasDescription.clsBktServiceDisabled:hover,
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktServicesContainer #idListServices .clsBktServiceDisabled,
#idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktServicesContainer #idListServices .clsBktServiceDisabled:hover{
    background-color: #ececec;
}

/**********/
/* @MEDIA */
/**********/
@media only screen and (max-width: 1365px){
   
}

@media only screen and (min-width: 320px) and (max-width: 480px){
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktNumberOfPeopleContainerSelect select{
        padding-top: 1px;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktNumberOfPeopleContainer {
        height: 40px;
        margin-bottom: 20px;
    }

    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktServicesContainer #idListServices input[type=checkbox] + label {
        width: 44px;
        height: 44px;
        background: url(../../../images/widgets/default/services/check_32.png) 0px 0px no-repeat;
    }    

    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktServicesContainer #idListServices .clsBktServiceName a,
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktServicesContainer #idListServices .clsBktServicePublicPrice {
        line-height: 44px;
    }

    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktServicesContainer #idListServices input[type=checkbox]:checked + label{
        background: url("../../../images/widgets/default/services/check_32.png") 0px -44px no-repeat;
    }  
}

@media only screen and (max-width: 319px){
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktNumberOfPeopleContainerSelect select{
        padding-top: 2px;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktNumberOfPeopleContainer{
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktNumberOfPeopleContainerText{
        float: none;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktNumberOfPeopleContainerSelect{
        float: none;
        margin-left: 0px;
    }
    
    #idBktWidgetBody #idBktWidgetDefaultBodyContainer #idDivBktNumberOfPeopleContainer {
        height: 40px;
        margin-bottom: 20px;
    }
}